.box {
    margin-top: 10%;
    border: rgba(16, 122, 176,0.6) 9px solid;
}

/* Box form */
.box-form{
    display: flex;
    flex-direction: column;
    margin-top: 6%;
}


/*Name*/

#nome {
    width: 98%; height: 60px;
    font-size: 0.8rem;
    color: black;
    font-family: var(--font-titulo);
}

/*Number*/
#telefone {
    width: 98%; height: 60px;
    font-size: 0.8rem;
    color: black;
    font-family: var(--font-titulo);
}

/*Enviar*/
#send{
    width: 99%;
    height: 2.5em;
   
}
/*link send */
#send a {
    text-decoration: none;
    color: #000;
    
}
