* {
    margin: 0;
    padding: 0;
    box-sizing:0 ;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

:root {
    --font-titulo : 'Roboto Flex', sans-serif;
 }


 .titulo {
    
    font-family: var(--font-titulo);
    
 }