/*Importação CSS's*/
@import url(../app/css-form/form-box.css);
@import url(../app/css-form/box-title.css);
@import url(../app/css/footer.css);
@import url(../app/css-form/box-form.css);

/*Importação fonts*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300&display=swap');

/*Root*/
:root {
    --font-titulo : 'Roboto Flex', sans-serif;
 }

 * {
    margin: 0;
    padding: 0;
    box-sizing:0 ;
}
/*Body*/
body {
    background-color: #107AB0;
    color: #fff;
    
}
/* #107AB0;*/

